*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'source-code-pro, Menlo, Monaco, Consolas, ' Courier New '',
		monospace;
}

.header {
	text-align: center;
	font-weight: 700;
	color: midnightblue;
	background: lightskyblue;
	font-size: 32px;
	padding: 16px 0;
}

.input-holder {
	margin: 15px 0;
}

.main-wrapper {
	padding: 0 10px;
}

.main-content {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	@media (max-width: 800px) {
		flex-direction: column;
	}
}

.input-holder {
	padding: 0 10px;
	display: flex;

	input[type='text'] {
		max-width: 400px;
		width: 100%;
		padding: 5px 10px;
		font-size: 16px;
		border-radius: 4px;
		display: inline-block;
		border: 1px solid midnightblue;
		outline: none;
	}

	.upload-input {
		width: 0px;
		height: 0px;
		visibility: hidden;
		opacity: 0;
	}

	.or {
		align-items: center;
		display: inline-flex;
		padding: 0 20px;
	}

	.upload-image {
		padding: 8px 16px;
		font-size: 16px;
		background: midnightblue;
		color: white;
		display: inline-block;
		border: 0;
		border-radius: 4px;
		cursor: pointer;
		outline: none;
	}
}

.image-holder {
	width: 60%;
	display: block;
	flex: 0 0 60%;
	max-width: 900px;
	height: 70vmin;

	@media (max-width: 800px) {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}

	&:empty {
		display: none;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.results-holder {
	padding: 30px;

	@media (max-width: 800px) {
		width: 100%;
		padding: 0;
	}

	.result {
		border: 1px solid midnightblue;
		margin: 0 0 10px;
		padding: 10px;

		&:first-of-type {
			border-color: midnightblue;
			background-color: midnightblue;

			.name {
				color: #fff;
			}
			.confidence {
				color: #dfdfdf;
			}
		}

		.name {
			font-size: 20px;
			font-weight: 500;
			text-transform: uppercase;
		}

		.confidence {
			display: block;
			font-weight: 300;

			.bestGuess {
				background: white;
				padding: 2px 6px;
				color: midnightblue;
				margin-left: 3px;
			}
		}
	}
}

.btn {
	padding: 12px 17px;
	font-size: 18px;
	background: midnightblue;
	color: white;
	display: inline-block;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

.recent-predictions {
	margin: 40px 0 0;
	background: lightblue;
	padding: 10px;

	h2 {
		color: midnightblue;
		font-size: 26px;
		margin: 10px 0;
	}

	.recent-images {
		display: flex;
		flex-wrap: wrap;
	}

	.recent-prediction {
		flex: 0 0 20%;
		cursor: pointer;

		@media (max-width: 1100px) {
			flex: 0 0 25%;
		}

		@media (max-width: 870px) {
			flex: 0 0 33.3%;
		}

		@media (max-width: 700px) {
			flex: 0 0 50%;
		}

		img {
			display: block;
			width: 100%;
			height: 200px;
			object-fit: cover;

			@media (max-width: 700px) {
				height: 260px;
			}
		}
	}
}
